<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">W I N N E R !</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="winModal.hide()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="card">

      <!-- TODO: Display the number of tries instead of the 'X' -->
      <div class="item item-text-wrap text-center">
        Congrats!<br><br>
        You broke the code in X tries!
      </div>

    </div>
    <div class="padding">

      <!-- TODO: Write the code so that when clicked, we play again...  -->
      <button class="button button-block button-calm">Play Again!</button>
    
    </div>
  </ion-content>
</ion-modal-view>
